<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="src/styles/style.css" />
  	<meta charset="utf-8">
  	<title>Basket</title>
</head>
<body ng-app="Basket">
	<h1>Basket</h1>
	<div ng-view></div>
	<footer>
		<small>
			Implemented by Joshua Beam (<a href="https://www.github.com/joshbeam/Basket">GitHub</a>)		
		</small>
	</footer>
	
	<!-- will run a build to concat and minify all of these into one js file -->
	<script src="src/scripts/lib/angular/angular.min.js"></script>
	<script src="src/scripts/lib/angular/angular-route.min.js"></script>
	
	<script src="src/scripts/app/basket/basket.module.js"></script>
	<script src="src/scripts/app/basket/basket.routes.js"></script>
	<script src="src/scripts/app/items/item.factory.js"></script>
	<script src="src/scripts/app/items/items.factory.js"></script>
	<script src="src/scripts/app/helpers/local-store.factory.js"></script>
	<script src="src/scripts/app/helpers/focus-when.directive.js"></script>
	<script src="src/scripts/app/helpers/key-down.directive.js"></script>
	<script src="src/scripts/app/lists/lists.factory.js"></script>
	<script src="src/scripts/app/lists/list.factory.js"></script>
	<script src="src/scripts/app/lists/list-controller.controller.js"></script>
	<script src="src/scripts/app/lists/lists-controller.controller.js"></script>
	
	<script type="text/ng-template" id="lists.html">
		<h2>Shopping Lists <small>viewing all</small></h2>
		<ul class="unstyled item-list">
			<li ng-repeat="list in vm.lists">
				<a class="block-link" href="#list/{{list.name}}">{{list.name}}</a>
			</li>
		</ul>
		<div class="panel" ng-show="vm.lists.length === 0">
			Looks like you don't have any shopping lists! Why don't you create one?
		</div>
		<div class="create-box" ng-show="vm.creatingNewList">
			<input type="text" ng-model="vm.newListName" key-down="vm.listsFunctions.create()" focus-when="vm.creatingNewList" />
			<button class="good" ng-click="vm.listsFunctions.create()">+</button>
			<button class="bad" ng-click="vm.listsFunctions.cancel()">Cancel</button>		
		</div>
		
		<ul class="unstyled inline-list">
			<li>
			 <button class="good" ng-show="vm.creatingNewList === false" ng-click="vm.listsFunctions.startCreating()">+</button>
			</li>
		</ul>
	</script>
	
	<script type="text/ng-template" id="list.html">
		<h2>&ldquo;{{vm.listName}}&rdquo; <small>current list</small></h2>
		<nav>
			<ul class="unstyled">
				<li><a class="button-link" href="#/">&laquo; Back</a></li>
			</ul>
		</nav>
		<ol shopping-list class="item-list">
		<li ng-repeat="item in vm.items | filter:vm.filters.filterItems" ng-class="{selected: item === vm.itemBeingEdited}">
			<a class="block-link" ng-class="{purchased: item.get('purchased')}" ng-click="vm.itemFunctions.startEditing(item)">{{item.description}}</a>
		</li>
		</ol>   
		<div class="create-box" ng-show="vm.creatingNewItem === true && vm.editingItem === false">
			<input type="text" ng-model="vm.newItemDescription" key-down="vm.itemFunctions.add(vm.newItemDescription)" focus-when="[vm.creatingNewItem === true, vm.editingItem === false]" />
			<button class="good" ng-click="vm.itemFunctions.add(vm.newItemDescription)">Add</button>
			<button class="bad" ng-click="vm.itemFunctions.cancel()">Cancel</button>
		</div>
		<ul class="unstyled inline-list" ng-show="vm.creatingNewItem === false && vm.editingItem === false">
			<li>
				<button class="good" ng-click="vm.itemFunctions.createNewItem()">
					Add New Item
				</button>
			</li>
			<li>
				<button ng-click="vm.itemFunctions.clearPurchased()">
					Clear Purchased
				</button>
			</li>
			<li>
				<button class="bad" ng-click="">
					Delete List
				</button>
			</li>
		</ul>
		<ul class="unstyled inline-list" ng-show="vm.editingItem === true">
		<li>
			<button ng-click="vm.itemFunctions.stopEditing()">
				&laquo;
			</button>
		</li>
		<li>
			<button ng-click="vm.itemFunctions.togglePurchased(vm.itemBeingEdited)">Mark as {{vm.itemBeingEdited.purchased === false ? 'purchased' : 'not purchased'}}</button>
		</li>
		</ul>
	</script>	
</body>
</html>