// make REM mixin

@mixin border-radius($radius) {
  border-radius: $radius;
}

$font-stack: 'Helvetica', sans-serif;
$font-size: 16px;

$bg: #fff;

$white: #fff;
$green: #47ad53;
$dark-red: #e85858;
$light-gray: #ccc;
$super-light-gray: #ddd;
$extra-light-gray: #eee;
$dark-gray: #777;
$yellow: #e6c64c;

body, html {
  margin: 0;
  padding: 1em;
  font-family: $font-stack;
  font-size: $font-size;
}

h1 {
  text-shadow: 0px 1px $super-light-gray;
}

h2 {
  color: $dark-gray;
	
	small {
		color: $super-light-gray;
		font-style: italic;
	}
}

h3 {
  color: $light-gray;
}

button {
  cursor: pointer;
  background: $bg;
  border: 1px solid $light-gray;
  color: $dark-gray;
  padding: .5rem;
  @include border-radius(5px);
  
  &:hover {
	background: darken($bg,5%);
  }
  
  &.bad {
	background: $dark-red;
	color: $white;
	border-color: $white;
	
	//can i make this a function?
	&:hover {
	  background: darken($dark-red,5%);
	}
  }
	
	&.good {
		background: $green;
		color: $white;
		border-color: $white;

		//can i make this a function?
		&:hover {
			background: darken($green,5%);
		}
	}
	
	&.warning {
		background: $yellow;
		color: $white;
		border-color: $white;

		//can i make this a function?
		&:hover {
			background: darken($yellow,5%);
		}
	}
}

a {
	text-decoration: none;
	color: $dark-gray;
	
	&.block-link {
		width: 100%;
		display: block;
	}
	
	&.button-link {
		@extend button;
	}
}

input[type="button"] {
  @extend button;
}

input[type="text"] {
  @extend button;
  cursor: text;
}

.purchased {
  color: $light-gray;
  text-decoration: line-through;
}

ul,ol {
  &.unstyled {
	list-style-type: none;
	margin: 0;
	padding: .5rem 0;
  }
	
	&.inline-list li {
		display: inline-block;
	}
  
  li {
	position: relative;
	padding: .5rem;
  }
	
	&.item-list li {
		border-bottom: 1px solid $super-light-gray;
		cursor: pointer;
		
		&:hover {
			background: $extra-light-gray;
		}
	}	
}

.create-box {
	margin: .5rem 0;
}